// Navigation block begin
.company-menu
    +nav('company-nav', [
        {
            name: "О компании",
            link: "#"
        },
        {
            name: "Новости и акции",
            link: "#"
        },
        {
            name: "Доставка",
            link: "#"
        },
        {
            name: "Отзывы",
            link: "#"
        },
        {
            name: "Контакты",
            link: "#"
        }
    ])
// Navigation block end