
// Navigation block begin
.menu
    
    +nav('main-menu', [
        {
            name: 'подарки от Lux-linza',
            link: "#"
        },
        {
            name: "контактные линзы",
            link: "#"
        },
        {
            name: "капли для глаз",
            link: "#"
        },
        {
            name: "растворы для линз",
            link: "#"
        },
        {
            name: "аксессуары",
            link: "#"
        }
    ])
// Navigation block end