
ul.socials__list
    +socials([
        {
            name: 'vk',
            link: 'https://twitter.com'
        },
        {
            name: 'facebook',
            link: 'https://www.facebook.com/'
        }

    ])
        