extends ../layout

block content
	// Section banner begin
	.banner
		// Owl-carousel
		div(class="owl owl-carousel owl-theme banner__slider")
			.item
				img(src="images/banner_1.jpg" alt="Banner picture")
				.banner__info.container
					h2 Ciba Vision
					p Мультифокальные контактные линзы Сiba Vision Air Optix Aqua Multifocal идеально подойдут людям, которым требуется коррекция зрения на близких расстояниях
					a(href="#" class="button_white") Подробнее
			.item
				img(src="images/banner_1.jpg" alt="Banner picture")
				.banner__info.container
					h2 Ciba Vision
					p Мультифокальные контактные линзы Сiba Vision Air Optix Aqua Multifocal идеально подойдут людям, которым требуется коррекция зрения на близких расстояниях
					a(href="#" class="button_white") Подробнее
			.item
				img(src="images/banner_1.jpg" alt="Banner picture")
				.banner__info.container
					h2 Ciba Vision
					p Мультифокальные контактные линзы Сiba Vision Air Optix Aqua Multifocal идеально подойдут людям, которым требуется коррекция зрения на близких расстояниях
					a(href="#" class="button_white") Подробнее
			.item
				img(src="images/banner_1.jpg" alt="Banner picture")
				.banner__info.container
					h2 Ciba Vision
					p Мультифокальные контактные линзы Сiba Vision Air Optix Aqua Multifocal идеально подойдут людям, которым требуется коррекция зрения на близких расстояниях
					a(href="#" class="button_white") Подробнее
			.item
				img(src="images/banner_1.jpg" alt="Banner picture")
				.banner__info.container
					h2 Ciba Vision
					p Мультифокальные контактные линзы Сiba Vision Air Optix Aqua Multifocal идеально подойдут людям, которым требуется коррекция зрения на близких расстояниях
					a(href="#" class="button_white") Подробнее
	
	
	// Section banner end


	// Section gifts begin
	section.gift
		.gift__header
			h5 Выбери свой подарок
		div(class="owl owl-carousel owl-theme gift__slider container")
			.item
				img(src="images/gift_1.png" alt="Gift photo: glasses")
				p.gift__info Cosmo CO 365 <br>
					| разноцветные оранжевые
				a(href="#" class="button") Выбрать
			.item
				img(src="images/gift_2.png" alt="Gift photo: glasses")
				p.gift__info Cosmo CO 09010 <br>
					| разноцветные оранжевые
				a(href="#" class="button") Выбрать
			.item
				img(src="images/gift_3.png" alt="Gift photo: glasses")
				p.gift__info Cosmo CO 84906 <br>
					| разноцветные оранжевые
				a(href="#" class="button") Выбрать
			.item
				img(src="images/gift_4.png" alt="Gift photo: glasses")
				p.gift__info Cosmo CO 235478 <br>
					| разноцветные оранжевые
				a(href="#" class="button") Выбрать
			.item
				img(src="images/gift_5.png" alt="Gift photo: glasses")
				p.gift__info Cosmo CO 26587 <br>
					| разноцветные оранжевые
				a(href="#" class="button") Выбрать
			.item
				img(src="images/gift_1.png" alt="Gift photo: glasses")
				p.gift__info Cosmo CO 365 <br>
					| разноцветные оранжевые
				a(href="#" class="button") Выбрать
			.item
				img(src="images/gift_2.png" alt="Gift photo: glasses")
				p.gift__info Cosmo CO 09010 <br>
					| разноцветные оранжевые
				a(href="#" class="button") Выбрать
			.item
				img(src="images/gift_3.png" alt="Gift photo: glasses")
				p.gift__info Cosmo CO 84906 <br>
					| разноцветные оранжевые
				a(href="#" class="button") Выбрать
			.item
				img(src="images/gift_4.png" alt="Gift photo: glasses")
				p.gift__info Cosmo CO 235478 <br>
					| разноцветные оранжевые
				a(href="#" class="button") Выбрать
			.item
				img(src="images/gift_5.png" alt="Gift photo: glasses")
				p.gift__info Cosmo CO 26587 <br>
					| разноцветные оранжевые
				a(href="#" class="button") Выбрать
			.item
				img(src="images/gift_1.png" alt="Gift photo: glasses")
				p.gift__info Cosmo CO 365 <br>
					| разноцветные оранжевые
				a(href="#" class="button") Выбрать
			.item
				img(src="images/gift_2.png" alt="Gift photo: glasses")
				p.gift__info Cosmo CO 09010 <br>
					| разноцветные оранжевые
				a(href="#" class="button") Выбрать
			.item
				img(src="images/gift_3.png" alt="Gift photo: glasses")
				p.gift__info Cosmo CO 84906 <br>
					| разноцветные оранжевые
				a(href="#" class="button") Выбрать
			.item
				img(src="images/gift_4.png" alt="Gift photo: glasses")
				p.gift__info Cosmo CO 235478 <br>
					| разноцветные оранжевые
				a(href="#" class="button") Выбрать
			.item
				img(src="images/gift_5.png" alt="Gift photo: glasses")
				p.gift__info Cosmo CO 26587 <br>
					| разноцветные оранжевые
				a(href="#" class="button") Выбрать
			.item
				img(src="images/gift_1.png" alt="Gift photo: glasses")
				p.gift__info Cosmo CO 365 <br>
					| разноцветные оранжевые
				a(href="#" class="button") Выбрать
			.item
				img(src="images/gift_2.png" alt="Gift photo: glasses")
				p.gift__info Cosmo CO 09010 <br>
					| разноцветные оранжевые
				a(href="#" class="button") Выбрать
			.item
				img(src="images/gift_3.png" alt="Gift photo: glasses")
				p.gift__info Cosmo CO 84906 <br>
					| разноцветные оранжевые
				a(href="#" class="button") Выбрать
			.item
				img(src="images/gift_4.png" alt="Gift photo: glasses")
				p.gift__info Cosmo CO 235478 <br>
					| разноцветные оранжевые
				a(href="#" class="button") Выбрать
			.item
				img(src="images/gift_5.png" alt="Gift photo: glasses")
				p.gift__info Cosmo CO 26587 <br>
					| разноцветные оранжевые
				a(href="#" class="button") Выбрать
			.item
				img(src="images/gift_5.png" alt="Gift photo: glasses")
				p.gift__info Cosmo CO 26587 <br>
					| разноцветные оранжевые
				a(href="#" class="button") Выбрать
			
	// Section gifts end

	// Section promo begin
	section.promo.container
		.section__title 
			h3
				span Акции
		div(class="owl owl-carousel owl-theme promo__slider")
			.item
				a(href="#")
					img(src="images/promo_1.jpg" alt="Photo")
				a(href="#")
					h4 Акция на линзы Pure Vision 2 + раствор в подарок
				p С 1 по 30 сентября 2015 года проходит всеукраинская акция на контактные линзы Pure Vision 2 по фиксированной цене 600 гривен! В подарок к упаковке линз вы гарантировано получаете раствор по уходу за контактными линзами Biotru 60ml. 
			.item
				a(href="#")
					img(src="images/promo_2.jpg" alt="Photo")
				a(href="#")
					h4 Всеукраинская акция на линзы Focus Dailies Aqua 
				p Всеукраинская акция, представленная на нашем сайте, распространяется на контактные линзы Focus Dailies Aqua (срок ношения — 1 день). Продукция от производеля, лидера продаж, Ciba Vision порадует своим соотношением цены и качества!
			.item
				a(href="#")
					img(src="images/promo_1.jpg" alt="Photo")
				a(href="#")
					h4 Акция на линзы Pure Vision 2 + раствор в подарок
				p С 1 по 30 сентября 2015 года проходит всеукраинская акция на контактные линзы Pure Vision 2 по фиксированной цене 600 гривен! В подарок к упаковке линз вы гарантировано получаете раствор по уходу за контактными линзами Biotru 60ml. 
				
	// Section promo end


block jsIncludes
	// jQuery (necessary for some JavaScript plugins)
	script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js")

	// Owl-carousel begin
	script(src="js/owl.carousel.js")

	// General options 
	script(src="js/general.js")