// Variables

$primary-font: "Open Sans", "Arial", sans-serif;
$secondary-font: "FontAwesome";

$first-color: #d92856; // rgb (217, 40, 86) pink color
$second-color: #303030; // rgb (48, 48, 48) text grey color
$third-color: #666; // rgb (102, 102, 102) text light-grey color
$forth-color: #f8f8f8; // rgb (248, 248, 248) background light-grey color
$fifth-color: #cbcbcb; // rgb(203, 203, 203) grey color
$sixth-color: #111; //rgb(17, 17, 17) almost black color

